{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1>
        
        <p><img src="{% static 'images/jpeg/girl.jpeg' %}" alt="..." width="200" height="200" align="right" /></p>
        <p>Family name: Kalmuratova</p>
        <p>Name: Xurliman</p>
        <p>Birth date: 26.11.2008</p>
        <p>Interested: Watching k-dramas</p>
        
       <p><a href="https://www.instagram.com/xurl1_08/" target="_blank">instagram</a></p> 
        <a href="mailto:xurlimankalmuratova@gmail.com">email</a>   
        
    </h1>
    
    
    

    

    
</body>
</html>